<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BTI Expertise{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <!-- Фіксоване меню -->
  <header id="header">
    <nav>
      <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'images/zhitomir_gerb.png' %}" alt="Герб Житомира">
        БТІ СТАНДАРТ
      </a>
      <ul class="menu">
        <li><a href="#top">НАГОРУ</a></li>
        <li><a href="#home">ГОЛОВНА</a></li>
        <li><a href="#tehpasport">ТЕХПАСПОРТ</a></li>
        <li><a href="#portfolio">ПОРТФОЛІО</a></li>
        <li><a href="#reviews">ВІДГУКИ</a></li>
        <li><a href="#clients">КЛІЄНТИ</a></li>
        <li><a href="#contacts">КОНТАКТИ</a></li>
      </ul>
      <a href="#contacts" class="btn-contact">Зв’язатися</a>
    </nav>
  </header>

<section class="hero">
  <div class="hero-bg"></div>
  <div class="hero-content">
    <img src="{% static 'images/logo.png' %}" alt="БТІ Стандарт" class="hero-logo" />
    <h2 class="hero-subtitle">
      ТЕХНІЧНА ІНВЕНТАРИЗАЦІЯ НЕРУХОМОСТІ”
    </h2>
    <h1 class="hero-title">
      Надання послуг юридичним <br>та фізичним особам
    </h1>
  </div>
</section>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
